.Calendar {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    gap: 20px;
    padding: 16px 32px !important;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 32px;
    box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.15);
}