.Wave_animate
  position: fixed
  bottom: 0
  left: 50%
  z-index: 3

  display: block
  width: 100vw
  transform: translate(-50%, 0)

  @media screen and (orientation: landscape)
    display: flex

.waves
  position: relative
  z-index: 19

  height: 120px

  overflow: hidden

.wave_container
  position: absolute
  inset: 0

  margin: auto

  overflow: hidden

  .bg_top
    z-index: 15

    opacity: 0.5

  .bg_middle
    z-index: 10

    opacity: 0.75

  .bg_bottom
    z-index: 5

.wave_layer
  position: absolute
  bottom: -1px
  z-index: 18

  width: 100%
  height: 100%

  overflow: hidden

  div
    position: absolute
    left: 0

    width: 200%
    height: 100%

    background-position: 0 bottom
    background-repeat: repeat no-repeat
    transform-origin: center bottom

    .wave_top
      background-image: './assets/wave/top.png'
      background-size: 50% 100px

      animation: move_wave 3s
      animation-delay: 1s

    .wave_middle
      background-image: './assets/wave/mid.png'
      background-size: 50% 120px

      animation: move_wave 10s linear infinite

    .wave_bottom
      background-image: './assets/wave/bot.png'
      background-size: 50% 100px

      animation: move_wave 15s linear infinite