.WhiteContentBlock
    // background-color: var(--white, white)
    padding: 16px
    background-color: #161b22
    border: 1px solid var(--blue-100, #30363db3)
    border-radius: var(--mobile-default-border, 6px)
