.WhiteContentBlock
    background-color: var(--white, white)
    padding: 16px
    border-radius: var(--mobile-default-border, white)
    border: 1px solid var(--blue-100, white)

.sick
    border-color: var(--white-100) !important
