# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Exclude visualization file
analyse.html

# Exclude the test coverage file
coverage

# Husky hooks
.husky

# Ignore commitlint configuration
commitlint.config.ts

# Million Lint
.million

# Ignore temporary Vitest and Vite files
vite.config.ts.timestamp-*.mjs

# Ignore cache directories
node_modules/.vite/
node_modules/.vitest/