@import ../variables

.app
  font: var(--font-m)

  font-synthesis: none
  text-rendering: optimizeSpeed
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  -webkit-text-size-adjust: 100%

  background: var(--bg-color)
  color: var(--primary-color)

  min-height: 100vh

