.Navbar
    display: flex
    justify-content: space-between
    align-items: center
    width: 100%
    height: var(--navbar-height, 60px)
    padding: 0 20px
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1)

    background-color: var(--inverted-bg-color, #f8f9fa)

    .links
        display: flex
        align-items: center
        grid-gap: 10px

        text-decoration: none

        a
            padding: 8px 16px
            border-radius: 5px
            box-shadow: 0 1px 3px rgb(0, 0, 0)

            text-decoration: none
            color: white

            transition: all 0.3s ease
            &:hover
                box-shadow: 0 1px 3px rgb(255, 255, 255)

                color: #000000

.lang
    margin-left: 20px

@media (max-width: 768px)
    .Navbar
        flex-direction: column
        align-items: flex-start

        .links
            justify-content: space-evenly
            width: 100%
            margin-top: 10px

.switch
    position: relative

    display: inline-block
    width: 54px
    height: 30px

    input
        display: none

.slider
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0

    border-radius: var(--default-border)

    background-color: var(--blue-200)

    transition: 0.4s

    cursor: pointer

    &:before
        position: absolute
        bottom: 3px
        left: 5px

        width: 24px
        height: 24px
        border-radius: var(--default-border)

        background-color: white

        transition: 0.5s
        content: ""

    input:checked
        background-color: var(--blue)
        transform: translateX(calc(100% - 3px))

    input:focus
        box-shadow: 0 0 1px #2196f3

.slider_red
    background-color: var(--red-100)

    input: checked + &Red

    background-color: var(--red-400)

@media screen and (max-width: 576px)
    .switch
        width: 40px
        height: 20px

    .slider:before
        position: absolute
        bottom: 2.6px
        left: 5px

        width: 15px
        height: 15px
        border-radius: var(--default-border)

        background-color: white

        transition: 0.5s
        content: ""

    input:checked + .slider:before
        transform: translateX(16px)