.month_grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    // gap: 5px;
    line-height: 1.5;
    padding: 10px;
    background-color: #fff;
}

.Day_cell {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 46px;
    height: 46px;
    text-align: center;
    padding: 0.6em 0;
    border-radius: 4px;
}

.active {
    cursor: pointer;
    color: black;
    border-radius: 50%;

    &:hover {
        border: 1px rgb(0, 0, 0) solid;
    }
}

.disabled {
    color: #bbb;
}

.selected_departure,
.selected_arrival {
    color: white;
    background-color: black;
}

.range {
    // background-color: rgb(247, 247, 247);
    background-color: rgb(242, 255, 0);
    border-radius: 0;
    color: white;
}

.selected {
    background-color: red;
}