.app.dark_theme
  --bg-color: #0d1117
  --inverted-bg-color: #860092
  --primary-color: white
  --inverted-color: green
  --secondary-color: white
  --inverted-color: green

  text-shadow: 1px 1px 2px rgb(255 255 255 / 50%)