.Sidebar
  position: relative

  height: calc(100vh - var(--navbar-height))
  padding: 20px

  background-color: var(--inverted-bg-color)

  transition: width 0.1s

.collapsed
  width: var(--sidebar-width-collapsed)