.Month {
    position: relative;
    margin-bottom: 20px;
}

.prevMonth {
    display: flex;
    align-items: center;
    justify-content: center;

    & svg {
        cursor: pointer;
        position: absolute;
        left: 0;
    }
}

.nextMonth {
    display: flex;
    align-items: center;
    justify-content: center;

    & svg {
        cursor: pointer;
        position: absolute;
        right: 0;
    }
}

.week_days {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    gap: 10px;
}

.week_day {
    flex: 1;
    text-align: center;
}